---
import Layout from '../layouts/Layout.astro';
import PageNavbar from '../components/PageNavbar.astro';
let v3_url = import.meta.env.PUBLIC_V3_URL;
const { v3slug, title } = Astro.params;
let safe_title = title || "Portfolio | Kalen Wallin";
---
<Layout title={safe_title}>
    <PageNavbar />
    <div class="content">
        <iframe src={ `${v3_url}${v3slug}` } style="height: 85vh; border: none;" />
    </div>
</Layout>
